<section>
    <div class="container mt-4">
        <div class="row">
            <div class="col-md-6">
                <h2 class="text-center mt-4">Add Products</h2>
                <form action="/admin/add-product" method="post" enctype="multipart/form-data">
                    <div class="form-group">
                        <label for="">Name</label>
                        <input type="text" class="form-control" id="" name="Name" placeholder="">
                        <label for="">Category</label>
                        <input type="text" class="form-control" id="" name="Category" placeholder="">
                        <label for="">Price</label>
                        <input type="text" class="form-control" id="" name="Price" placeholder="">
                        <label for="">Description</label>
                        <input type="text" class="form-control" id="" name="Description" placeholder="">
                        <label for="">Image</label>
                        <input type="file" class="form-control-file" id="" name="Image">
                        <button class="btn btn-success mt-2" type="submit">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>